.git/
.idea/
.vscode/

.env
venv/
.venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.pyre/
.cache/

logs/
models/

build/
dist/
downloads/
*.egg-info/
pystreamasr.egg-info/
*.egg
