PROJECT_NAME=PyStreamASR
MYSQL_DATABASE_URL=mysql+aiomysql://root:password@localhost/pystreamasr
MODEL_PATH=/path/to/models
LOG_LEVEL=INFO
LOG_DIR="logs"
AUDIO_INPUT_FORMAT=alaw
AUDIO_SOURCE_RATE=8000
